### Regular Expressions

#### Part 1

In [1]:
import re

In [10]:
s = "There is a 87.45 floating point number in this statement"

In [62]:
p = r"\d+\.?\d*"

In [4]:
m = re.search(p, s)

In [5]:
m.group()

'87.45'

In [6]:
m.span()

(11, 16)

In [7]:
s[11:16]

'87.45'

In [8]:
m.start()

11

In [9]:
m.end()

16

In [11]:
s[:m.start()] + s[m.end():]

'There is a  floating point number in this statement'

In [63]:
p = r"(\d+)\.?(\d*)"

In [13]:
m = re.search(p, s)

In [14]:
m.group()

'87.45'

In [15]:
m.groups()

('87', '45')

In [16]:
p = r"(?P<decimal>\d+)\.(?P<fraction>\d*)"

In [17]:
m = re.search(p, s)

In [18]:
m.group()

'87.45'

In [19]:
m.groups()

('87', '45')

In [20]:
m.groupdict()

{'decimal': '87', 'fraction': '45'}

In [27]:
s = "There is a 87.45 floating point number 1290.565 in this statement"

In [22]:
m = re.search(p, s)

In [23]:
m.group()

'87.45'

In [24]:
re.findall(p, s)

[('87', '45'), ('90', '56')]

In [28]:
for m in re.finditer(p, s):
    print(m.group())

87.45
1290.565

#### Part 2

In [31]:
import re
data = ['ab', 'abc', 'a5e', 'a6f', '123 a6c', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [32]:
for item in data:
	m = re.search(r'a..', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
a55 matched in 'a55b'
a55 matched in 'a555b'
a55 matched in 'a5555b'
a55 matched in 'a55555b'
a55 matched in 'a555555b'
a5x matched in 'a5xb'
abc matched in 'abc ab'

In [33]:
for item in data:
	m = re.search(r'a[567][def]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'

In [34]:
for item in data:
	m = re.search(r'a[567][bdef]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a5b matched in 'a5b'

In [35]:
for item in data:
	m = re.search(r'a[0-9][abd-z]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a5b matched in 'a5b'
a5x matched in 'a5xb'

In [36]:
for item in data:
	m = re.search(r'a[^0-9][^0-9]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
abc matched in 'abc ab'

In [38]:
for item in data:
	m = re.search(r'3\+2', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [40]:
for item in data:
	m = re.search(r'1/4', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

1/4 matched in '1/4'

In [43]:
for item in data:
	m = re.search(r'bc|a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

bc matched in 'abc'
a6 matched in 'a6f'
a6 matched in '123 a6c'
bc matched in 'abc ab'

In [44]:
for item in data:
	m = re.search(r'a[0-9][^c]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a5b matched in 'a5b'
a55 matched in 'a55b'
a55 matched in 'a555b'
a55 matched in 'a5555b'
a55 matched in 'a55555b'
a55 matched in 'a555555b'
a5x matched in 'a5xb'

In [45]:
for item in data:
	m = re.search(r'a\d\D', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
a5x matched in 'a5xb'

In [46]:
for item in data:
	m = re.search(r'...\s.', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

123 a matched in '123 a6c'
def g matched in 'def ghi'
abc a matched in 'abc ab'

In [47]:
for item in data:
	m = re.search(r'a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'
a6 matched in '123 a6c'

In [48]:
for item in data:
	m = re.search(r'^a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'

In [49]:
for item in data:
	m = re.search(r'..c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [50]:
for item in data:
	m = re.search(r'..c$', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'

In [51]:
for item in data:
	m = re.search(r'^..c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
abc matched in 'abc ab'

In [52]:
for item in data:
	m = re.search(r'ab\b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'ab'
ab matched in 'abc ab'

In [54]:
data = ['ab', 'abc', 'a5e', 'a6f', '123 a6c', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab', 'abc ad']
for item in data:
	m = re.search(r'ab\B', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'abc'
ab matched in 'abc ab'
ab matched in 'abc ad'

In [55]:
for item in data:
	m = re.search(r'a5555*b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [56]:
for item in data:
	m = re.search(r'a5555+b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [57]:
for item in data:
	m = re.search(r'a5555?b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555b matched in 'a555b'
a5555b matched in 'a5555b'

In [58]:
for item in data:
	m = re.search(r'a555{3}b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55555b matched in 'a55555b'

In [59]:
for item in data:
	m = re.search(r'a555{2,4}b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [60]:
for item in data:
	m = re.search(r'a555{2,}b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [61]:
for item in data:
	m = re.search(r'a555{,4}b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55b matched in 'a55b'
a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [64]:
p = r"(\d+)\.?(\d*)"
s = "There is a 87.45 floating point number in this statement"
re.search(p,s).groups()

('87', '45')